*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Fonts */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    margin-left: 1rem;
    }

h2 {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    color: white;
    }
p {
    font-family: 'Droid Serif', serif;
    color: white;
    }

body{

  background-color: #819ba9
;
}
/*Nav Bar */
body {
  margin: 0;
  padding: 0;
}

.logo {
  float: left;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 100%;
  margin: 0 auto;
  height: 100px;
}

.navigation-bar {
  background-color: #394856;
  height: 120px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navigation-bar img{
width: 400px;
margin-left: 5px;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;

}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  line-height: 150px;
  padding: 5px 15px;
  opacity: 0.7;
}

#menu {
  float: right;
}
button{
  padding: 0PX;
}
button a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  line-height: 70px;
  opacity: 0.7;
  padding: 10px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding-right: 1rem;
  background-color: inherit;
  font-family: inherit;
  line-height: 110px;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  opacity: 0.5;
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 80px;
  background-color: #897f82;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  opacity: 0.5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-ul :last-child button{
  padding-left: 1rem;

}
/* Drop-down arrow */

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  opacity: 0.7;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/*index banner */
.banner{
  position: relative;
  text-align: center;
  color: white;
}
.banner h2{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-shadow: 2px -2px black;

}
.banner h3{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-shadow: 2px -2px black;
}
.banner img{
  object-fit: cover;
  width: 100%;
  height: 500px;

  padding-top: none;
  margin-top: none;
  opacity: .7;
  object-position: 50% 70%; /* default value: image is centered*/
  object-position: 0 0; /* positioned top left of the content box */
}

/* Flex-box for home page */
.services {
  display: flex;
  padding-top: 1rem;
  flex-wrap: wrap;

}
.service{
  flex: 1 1 400px;
  margin: 1rem;
  background: #636E72;
  border: 1rem solid;
  border-color: #2D3436;
  justify-content: center;

}

.service h2{
  text-align: center;
}
.service img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service p{
  padding-left: 2rem;
  padding-right: 2rem;
}

h2 {
  text-align: center;

}

/* service breakdown */
.breakdown{
  display: flex;
  padding-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.breakdown .service{
  width: 400px;
  flex: none;
}

/*home paragraph */

.why{
  margin-left: 2rem;
  margin-right: 2rem;
}



/*image gallery */

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photos img {
  object-fit: cover;
  width: 500px;
  height: 500px;
  padding: 1rem;
}

/* style anchors on main pages */

h2 a{
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color: white;

}

/* form css */

h4{
  text-align: center;
}
.styled-input{
  float: right;
}
h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
/*media queries */


@media screen and (max-width: 880px) {
  .navigation-bar img{
  margin-bottom: 25px;
  width: 200px;
  }
}
@media screen and (max-width: 705px) {
  .navigation-bar img{
  margin-bottom: 20px;
  width: 100px;
  }
  .navigation-bar {
    height: 70px;
  }
  .navigation-bar {
    padding-right: 0px;
  }
  .arrow{
    display: none;
  }
  button a{
    padding: 0px;
  }
  .dropdown .dropbtn{
    padding-right: 16px;
    line-height: 0px;

  }
  .banner h2{
    top: 20%;
  }
  .banner h3{
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .navigation-bar img{
  margin-bottom: 25px;
  display: none;
  }
  .nav-ul :last-child button {
    padding-left: 2px;
  }
  .dropdown .dropbtn {
    padding-right: 8.5px;
    line-height: 0px;
  }


}
@media screen and (max-width: 326px) {
  button a {
    font-size: .8rem;
  }
}
